{% extends "base.html" %}

{% block content %}
<h1 align="center">Desenvolvedores</h1><hr>
	<div class="row">
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/gabriela-ramalho.jpg" class="img-circle">
							<h3>Gabriela Ramalho Santos</h3>
							<a href="https://github.com/gabiapple" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:gabrielaramalho96@hotmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/gabrielaramalho007" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/higor-coimbra.jpg" class="img-circle">
							<h3>Higor Coimbra Amorim</h3>
							<a href="https://github.com/higorcoimbra" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:higor1308@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/higor.coimbra1" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/higor-fischer.jpg" class="img-circle">
							<h3>Higor Fischer de Paula Lopes</h3>
							<a href="https://github.com/higorFischer" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:higorflopes@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/higor.lopes.71" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/lucas-alves.jpg" class="img-circle">
							<h3>Lucas Ferreira Alves</h3>
							<a href="https://github.com/ferreiraalves" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:ferreira.alves@live.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/profile.php?id=100003877704517" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/pedro-bittencourt.jpg" class="img-circle">
							<h3>Pedro Frois Bittencourt</h3>
							<a href="https://github.com/PedroFrois" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:p.f.bit@hotmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/pedro.bittencourt.98" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/gabriel-melo.jpg" class="img-circle">
							<h3>Gabriel da Silva Melo</h3>
							<a href="https://github.com/GabrielMelo96" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:gabrielsilvamelo96@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/profile.php?id=100004229342127&fref=ts" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/luis-carlos.jpg" class="img-circle">
							<h3>Luis Carlos Cardoso Filho</h3>
							<a href="https://github.com/luisccf" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:luisccf2@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/luisccf" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/bernard-menezes.jpg" class="img-circle" >
							<h3>Bernard Menezes Moreira da Costas</h3>
							<a href="https://github.com/Bernard2254" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:bernard_menezes@hotmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/bernard.menezes.7?fref=ts" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="/static/dist/img/devs/saulo-antunes.jpg" class="img-circle">
							<h3>Saulo Antunes Silva</h3>
							<a href="https://github.com/sauloantuness" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:sauloantuness@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/sauloantuness" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/daniele-lima.jpg" class="img-circle" >
							<h3>Daniele Lima</h3>
							<a href="https://github.com/LimaDani" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:danieleddelima@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/delimadaniele?fref=ts" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="/static/dist/img/devs/victor-januario.jpg" class="img-circle">
							<h3>Victor Januário da Cruz</h3>
							<a href="https://github.com/Janu23" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:victorjdacruz@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/janubue" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="/static/dist/img/devs/sandro-renato.jpg" class="img-circle">
							<h3>Sandro Renato Dias</h3>
							<a href="https://github.com/sandrord" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:sandrord@gmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/sandrorenatodias" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="text-center card">
							<img src="static/dist/img/devs/matheus-brant.jpg" class="img-circle" >
							<h3>Matheus Brant Marques</h3>
							<a href="https://github.com/MatheusBrant" title="GitHub" target="_blank">
									<img src="static/dist/img/icons/git-ico.png">
							</a>
							<a href="mailto:matheuss_brant@hotmail.com" title="E-mail">
									<img src="static/dist/img/icons/email-ico.png">
							</a>
							<a href="https://www.facebook.com/matheus.brant.9?fref=ts" title="Facebook" target="_blank">
									<img src="static/dist/img/icons/facebook-ico.png">
							</a>
					</div>
			</div>
	</div>
{% endblock content %}
