{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-7">
		<div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Final</h3>
                {% if not intercampi and user.is_authenticated %}
                    <div class="box-tools pull-right">
                        <a href="/jogos/novo/{{ competition.id }}?intercampi=True" class="btn btn-box-tool">Nova</a>
                    </div>
                {% endif %}
            </div>
            <div class="box-body">
                {% if intercampi %}
                <table class="table">
                    <tr>
                        <th>Data</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="/jogos/{{ intercampi.id }}">{{ intercampi.date }}</a>
                        </td>
                        <td class="{{ intercampi.status }}"></td>
                    </tr>
                </table>
                {% else %}
                Nenhuma partida ainda.
                {% endif %}
            </div>
        </div>
		<div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Seletivas</h3>
                {% if user.is_authenticated %}
                    <div class="box-tools pull-right">
                        <a href="/jogos/novo/{{ competition.id }}" class="btn btn-box-tool">Nova</a>
                    </div>
                {% endif %}
            </div>
            <div class="box-body">
                {% if trials|length %}
                    <table class="table">
                        <tr>
                            <th>Campus</th>
                            <th>Status</th>
                        </tr>
                        {% for trial in trials %}
                            <tr>
                                <td><a href="/jogos/{{ trial.id }}">{{ trial.campus }}</a></td>
                                <td class="{{ trial.status }}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                Nenhuma partida ainda.
                {% endif %}
            </div>
        </div>
		</div>
		<div class="col-md-5">
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Descrição</h3>
                </div>
                <div class="box-body">
                   <p>Os professores criam as seletivas de suas unidades correspondentes.</p>
                   <p>Os alunos da unidade se cadastram nas seletivas clicando em participar. </p>
                   <p>Após o término, o professor coloca o resultado da seletiva, atualizando a pontuação de cada participante.</p>
                   <p>De acordo com o ranking da seletiva, o professor cadastra os melhores na final.</p>
                   <p>O responsável pela competição atualiza os resultados da final.</p>
                </div>
            </div>
		</div>
	</div>
{% endblock content %}
