{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/plugins/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" href="/static/plugins/fullcalendar/fullcalendar.print.min.css" media="print"/>
{% endblock %}

{% block content %}
	<script type=text/javascript>
		var events = {{events|safe}};
	</script>
	{% include "message.html" %}
	<div class="row">
		<div class="col-md-12">
			<div class="box box-default">
			    <div class="box-header with-border">
			        <h3 class="box-title">O que é?</h3>
			    </div>
			    <div class="box-body">
			       	<p>O 1º Torneio Intercampi de Computação Competitiva se propõe a ser uma competição de computação competitiva, nos moldes da Olimpíada Brasileira de Informática, Olimpíada Brasileira de Robótica e outras, evolvendo os alunos dos cursos técnico e superior das diversas unidades do CEFET-MG. Propõe-se também palestras e minicursos, a serem realizados durante o evento, para alunos do CEFET-MG e alunos do ensino médio e/ou técnico de outras instituições da cidade sede do evento. A unidade de Divinópolis foi escolhida para sediar a competição neste ano de 2016.</p>
			    </div>
			</div>
		</div>
	</div>

	<div class="row">
	    <div class="col-md-6">
	    	<div class="row">
	    		<div class="col-xs-6">
	    			<div class="box box-default">
	    			    <div class="box-header with-border">
	    			        <h3 class="box-title">Inscrições</h3>
	    			    </div>
	    			    <div class="box-body">
	    			        <div class="event text-center">
	    			            <div class="event-date">
	    			            	<b></b>
	    			                <h1>3 a 12</h1>
	    			            </div>
	    			            <h3>Agosto</h3>
	    			        </div>
	    			    </div>
	    			</div>
	    		</div>
	    		<div class="col-xs-6">
	    			<div class="box box-default">
	    			    <div class="box-header with-border">
	    			        <h3 class="box-title">Abertura</h3>
	    			    </div>
	    			    <div class="box-body">
	    			        <div class="event text-center">
	    			            <div class="event-date">
	    			                <h1>19</h1>
	    			            </div>
	    			            <h3>Agosto</h3>
	    			        </div>
	    			    </div>
	    			</div>
	    		</div>
	    	</div>
	    </div>

	    <div class="col-md-6">
	        <div class="box box-default";>
	            <div class="box-header with-border">
	                <h3 class="box-title">Como participar</h3>
	            </div>
	            <div class="box-body" style="height:135px;">
	                <p>Cada aluno deve se inscrever nas provas seletivas em sua unidade sede. A inscrição é feita na própria página da seletiva.</p>
	                <p>Os selecionados pela comissão local da unidade comporão a equipe que disputará a final, representando a unidade.</p>
                </div>
            </div>
        </div>
		<div class="col-lg-12 col-md-12">
	        <div class="box box-default";>
	            <div class="box-body">
              		<div id="calendar"></div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-12 col-md-12">
	        <div class="box box-default"  style="min-height: 530px;";>
	            <div class="box-header with-border">
	                <h3 class="box-title">Onde?</h3>
	            </div>
	            <div class="box-body" style="padding: 0">
	                <div id="map">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>    
{% endblock content %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHiw6bxUMu-cjHlBCH4a4HSEeDIq3v4U4"></script>
<script src="/static/plugins/fullcalendar/fullcalendar.js"></script>
<script src="/static/plugins/fullcalendar/locale-all.js"></script>
<script src="/static/dist/js/home.js"></script>
{% endblock js %}
