<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Participantes</h3>
        <div class="box-tools pull-right">
            <a href="/" class="btn btn-box-tool">Atualizar</a>
            {% if user in jogo.participantes.all %}
                <a href="/jogos/sair/{{ jogo.pk }}" class="btn btn-box-tool text-red">Sair</a>
            {% else %}
                <a href="/jogos/participar/{{ jogo.pk }}" class="btn btn-box-tool">Participar</a>
            {% endif %}
        </div>
    </div>
    <div class="box-body">
        <table class="table datatables">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Problemas</th>
                    <th>Tempo</th>
                </tr>
            </thead>
            <tbody>
                {% for pontuacao in jogo.pontuacao.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ pontuacao.participante }}</td>
                        <td>{{ pontuacao.pontos }}</td>
                        <td>{{ pontuacao.tempo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>