{% extends "base.html" %}

{% block content %}
	    <div class="row">
	        <div class="col-md-18 col-md-offset-0">
	            <div class="box">
	                <div class="box-header">
	                {% if user.is_authenticated %}
		                {% if matchs and perms.website.add_result %}
			                    <div class="box-tools pull-right">
			                        <a href="/resultados/{{USER}}" class="btn btn-box-tool">Novo</a>
			                    </div>
		                {% endif %}
	                {% endif %}
	                </div>
	                <div class="box-body" width="100%">
	                    <table class="table datatables">
	                        <thead>
	                            <tr>
	                                <th>Numero</th>
	                                <th>Partida</th>
		                            <th>Data</th>
		                            <th>Competição</th>
		                            <th>Torneio</th>
		                            <th>Ganhador</th>
		                            <th>Responsável</th>
	                            </tr>
	                        </thead>
	                        <tbody>
		                        {% if not results %}
		                        	<tr>
		                        		<td>
			                        		Nenhum resultado foi cadastrado.
		                        		</td>
		                        		<td></td>
		                        	</tr>
		                        {% endif %}

	                            {% for result in results %}
	                                <tr>
	                                    <td>{{ forloop.counter }}</td>
	                                    <td>
                                    		<a href="resultados/{{result.match.responsible.username}}/{{result.match.id}}">{{ result.match }}</a>
	                                    </td>
	                                    <td>{{ result.match.date }}</td>
		                        	    <td>{{ result.match.competition }}</td>
		                        	    <td>{{ result.match.competition.tournament }}</td>
		                        	    <td>{{ result.first_place.name }}</td>
		                        	    <td>{{ result.match.responsible.username }}</td>
	                                </tr>
	                            {% endfor %}
	                        </tbody>
	                    </table>
                	</div>  
	            </div>
	        </div>
	    </div>
{% endblock content %}