{% extends "base.html" %}

{% block content %}
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	        <div class="box">
	            <form role="form" method="POST" action="/login">
	            	{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.GET.next |default:"/"}}" />
	                <div class="box-body">
	                    <div class="form-group">
	                        <label for="username">Usuário</label>
	                        <input type="text" class="form-control" id="username" name="username" value="{{ username }}" placeholder="Digite seu usuário">
	                    </div>
	                    <div class="form-group">
	                        <label for="password">Senha</label>
	                        <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha">
	                    </div>
	                    {% if error %}
		                    <div class="form-group">
	                            <span class="help-block text-red">{{error}}</span>
	                        </div>
	                    {% endif %}
	                </div>
	                <div class="box-footer">
	                    <button type="submit" class="btn btn-primary pull-right">Entrar</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
{% endblock content %}