{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<div class="box">
				<div class="box-header with-border">
                	<h3 style="color:green" class="box-title">Equipes com pontuação</h3>
				</div>
				<div class="box-body">
					{% if match_scores|length %}
						<table class="table">
							<tr>
								<th>Equipe</th>
								<th>Integrantes</th>
								{% if match_scores.first.match.competition.category.need_score %}
									<th>Pontuação</th>
								{% endif %}
								{% if match_scores.first.match.competition.category.need_time %}
									<th>Tempo</th>
								{% endif %}
								<th></th>
								<th></th>
							</tr>
							{% for match_score in match_scores %}
								<tr>
									<td>{{ match_score.team }}</td>
									<td>{{ match_score.team.str_participants }}</td>
									{% if match_scores.first.match.competition.category.need_score %}
										<td>{{match_score.score}}</td>
									{%endif%}
									{% if match_scores.first.match.competition.category.need_time %}
										<td>{{match_score.time}}</td>
									{% endif %}
									<td align="right">
										<a href="/jogos/{{ match.id }}/pontuar/{{ match_score.id }}" class="btn btn-xs btn-primary">Editar pontuação</a>
										<a href="/jogos/{{ match.id }}/remover/{{ match_score.id }}" class="btn btn-xs btn-danger">Excluir equipe</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
					Nenhuma equipe inscrita.
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="box">
				<div class="box-header with-border">
                	<h3 style="color:red" class="box-title">Equipes sem pontuação</h3>
				</div>
				<div class="box-body">
					{% if teams_without_match_score|length %}
					<table class="table">
							<tr>
								<th>Equipe</th>
								<th>Integrantes</th>
								{%if match_scores.first.match.competition.category.need_score%}
									<th>Pontuação</th>
								{%endif%}
								{%if match_scores.first.match.competition.category.need_time%}
									<th>Tempo</th>
								{%endif%}
							</tr>
							{% if not teams_without_match_score %}
							<tr>
								<td>
									<div>Não há equipes a serem pontuadas</div>									
								</td>
							</tr>
							{% endif %}
							{% for team in teams_without_match_score %}
								<tr onmouseover="Select(this);" title="Nova pontuação" onmouseout ="Diselect(this)" onclick="Click(this, '/pontuacao/'+'{{user.id}}'+'/'+'{{match.id}}'+'/'+'{{team.id}}')">
									<td>{{team}}</td>
									<td>{{team.str_participants}}</td>
									{% if match_scores.first.match.competition.category.need_score %}
										<td align="center">--</td>
									{% endif %}
									{% if match_scores.first.match.competition.category.need_time %}
										<td align="center">-- _ --</td>
									{% endif %}
								</tr>
							{% endfor %}				
					</table>
					{% else %}
					Nenhuma equipe inscrita.
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{%endblock content %}