{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-7">
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações</h3>
                    {% if USER == USER_MOR %}
                        <div class="box-tools pull-right">
                            <a href="/resultados/editar/{{ matchScore.id }}" class="btn btn-box-tool">Editar</a>
                            <a class="btn btn-box-tool text-red"  data-toggle="modal" data-target="#dialog"
                               onclick="showDialog('Tem certeza que deseja excluir?', '/resultados/excluir/{{ match.id }}')">Excluir</a>
                        </div>
                    {% endif %}
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr class="info-table-first-row">
                            <td><b>1º Lugar</b></td>
                            <td>{{ MatchScore.first_place }}</td>
                        </tr>
                        <tr>
                            <td><b>2º Lugar</b></td>
                            <td>{{ MatchScore.second_place }}</td>
                        </tr>
                        <tr>
                            <td><b>3º Lugar</b></td>
                            <td>{{ MatchScore.third_place }}</td>
                        </tr>
                        <tr>
                            <td><b>Responsável</b></td>
                            <td>{{ MatchScore.match.responsible.username }}</td>
                        </tr>
                        <tr>
                            <td><b>Torneio</b></td>
                            <td>{{ MatchScore.match.competition.tournament }}</td>
                        </tr>
                        <tr>
                            <td><b>Competição</b></td>
                            <td>{{ MatchScore.match.competition }}</td>
                        </tr>
                        <tr>
                            <td><b>Data</b></td>
                            <td>{{ MatchScore.match.date }}</td>
                        </tr>
                    </table>
                </div>
            </div>
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Participantes</h3>
                    <div class="box-tools pull-right">
                        {% if user.is_authenticated %}
                            <a href="/pontuacao/{{ MatchScore.match.id }}" class="btn btn-box-tool">Atualizar</a>
                        {% endif %}
                        {% if not MatchScore.match.intercampi and not user.is_authenticated %}
                            <a href="/jogos/participar/{{ MatchScore.match.id }}" class="btn btn-box-tool">Participar</a>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body">
                    <table class="table datatables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Matrícula</th>
                                <th>Curso</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for score in MatchScore.match.participants.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ score.name }}</td>
                                    <td>{{ score.code }}</td>
                                    <td>{{ score.course }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
		<div class="col-md-5">
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Regras</h3>
                </div>
                <div class="box-body">
                    {{ MatchScore.match.competition.category.rules|linebreaks }}
                </div>
            </div>
		</div>
	</div>
{% endblock content %}
