{% extends "base.html" %}

{% block css %}
    <style type="text/css">
        .mt-0 {
            margin-top: 0;
        }

        .pt-0 {
            padding-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-md-7">
            {% include "message.html" %}
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações</h3>
                    {% if user.is_authenticated and user.is_staff %}
                        <div class="box-tools pull-right">
                            <a href="/jogos/editar/{{ match.id }}" class="btn btn-box-tool">Editar/Finalizar</a>
                            <a class="btn btn-box-tool text-red"  data-toggle="modal" data-target="#dialog"
                               onclick="showDialog('Tem certeza que deseja excluir?', '/jogos/excluir/{{ match.id }}')">Excluir</a>
                        </div>
                    {% endif %}
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr class="info-table-first-row">
                            <td><b>Data</b></td>
                            <td>{{ match.date }}</td>
                        </tr>
                        <tr>
                            <td><b>Horário</b></td>
                            <td>{{ match.start |time:"H:i" }} ~ {{ match.end |time:"H:i" }}</td>
                        </tr>
                        <tr>
                            <td><b>Local</b></td>
                            <td>{{ match.location }}</td>
                        </tr>
                        <tr>
                            <td><b>Responsável</b></td>
                            <td>{{ match.responsible.get_full_name }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Regras</h3>
                </div>
                <div class="box-body">
                    {{ match.competition.category.rules|linebreaks }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Mais resolvido</h3>
                </div>
                <div class="box-body mt-0 pt-0">
                    <h3 class="mt-0">{{ most_solved_problem.problem_type__name }}</h3>
                    <h4>{{ most_solved_problem.value }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Menos resolvido</h3>
                </div>
                <div class="box-body mt-0 pt-0">
                    <h3 class="mt-0">{{ least_solved_problem.problem_type__name }}</h3>
                    <h4>{{ least_solved_problem.value }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Resolveu mais problemas</h3>
                </div>
                <div class="box-body mt-0 pt-0">
                    <h3 class="mt-0">{{ best_team_solved_problems.value }} <small>de {{ problems_count }}</small></h3>
                    <h4>{{ best_team_solved_problems.team__name }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Resolveu menos problemas</h3>
                </div>
                <div class="box-body mt-0 pt-0">
                    <h3 class="mt-0">{{ worst_team_solved_problems.value }} <small>de {{ problems_count }}</small></h3>
                    <h4>{{ worst_team_solved_problems.team__name }}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Média de problemas resolvidos</h3>
                </div>
                <div class="box-body mt-0 pt-0">
                    <h3 class="mt-0">{{ solved_problems_average }} <small>de {{ problems_count }}</small></h3>
                    <h4>por equipe</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Taxa de acertos</h3>
                </div>
                <div class="box-body mt-0 pt-0">
                    <h3 class="mt-0">{{ accepted_submissions_ratio.percentage }}%</h3>
                    <h4>{{ accepted_submissions_ratio.ratio }} <small>de {{ submissions_count }}</small></h4>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4>
                <a target="_blank" href="https://ticc-analises.herokuapp.com/viz/problemas-resolvidos?match={{ match.id }}">
                    ver análise completa
                </a>
            </h4>
        </div>
        <div class="col-md-12">
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Placar</h3>
                    <div class="box-tools pull-right">
                        {% if request.user.id == match.responsible_id %}
                            <a href="/jogos/{{ match.id }}/gerenciar-equipes" class="btn btn-box-tool">Gerenciar equipes</a>
                            <a href="/jogos/{{ match.id }}/pontuar" class="btn btn-box-tool">Inserir resultado</a>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body">
                {% if scores|length > 0 %}
                   <table class="table" id="scoreboard">
                        <thead>
                            <tr>
                                {% for header in scoreboard.headers %}
                                    <td align="{% if forloop.counter <= 2 %}left{% else %}center{% endif %}"><strong>{{ header }}</strong></td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in scoreboard.data %}
                                <tr>
                                    <td>{{ team.position }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.solved_problems }}</td>
                                    <td>{{ team.score }}</td>
                                    {% for problem in team.problems %}
                                        <td align="center" class="bg-{{ problem.bg }}">
                                            {{ problem.score }}
                                            <br />
                                            <small>{{ problem.tries }}</small>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                Nenhuma equipe inscrita.
                {% endif %}
                </div>
            </div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Submissões</h3>
                </div>
                <div class="box-body">
                    <table class="table" id="submissions">
                        <thead>
                            <tr>
                                {% for header in submissions.headers %}
                                    <td><strong>{{ header }}</strong></td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for submission in submissions.data %}
                                <tr>
                                    <td>{{ submission.problem }}</td>
                                    <td>{{ submission.team }}</td>
                                    <td>{{ submission.problem_type }}</td>
                                    <td class="{% if submission.accepted %}text-success{% else %}text-danger{% endif %}">
                                        {{ submission.status }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $('#scoreboard').dataTable({
        });
        $('#submissions').dataTable({
        });
    </script>
{% endblock %}
