{%extends "base.html"%}

{%block content %}
	<div class="row" style="margin-top: 30px">
		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
                	<h3 style="color:green" class="box-title">Participantes com Pontuação</h3>
					<div class="box-tools pull-right">
						<a href="/pontuacao/{{USER}}/{{match.id}}" class="btn btn-box-tool">Atualiza</a>
					</div>
				</div>
				<div class="box-body">
					<table class="table">
						<tr>
							<th><b>Nome</b></th>
							<th><b>Curso</b></th>
							<th><b>Pontuação</b></th>
						</tr>
						{%for matchScore in matchScores%}
						<tr onmouseover="Select(this)" onmouseout="Diselect(this)" onclick="Click(this,'/resultados/'+'{{USER}}'+'/'+'{{matchScore.match.id}}')">
							<td>{{matchScore.participant.name}}</td>
							<td>{{matchScore.participant.course}}</td>
							<td align="center">{{matchScore.score}}</td>
						</tr>
						{%endfor%}
						{% if not matchScores%}
						<tr>
							Nenhum participante com pontuação cadastrada
						</tr>
						{%endif%}
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box">
				<div class="box-header with-border">
                	<h3 style="color:red" class="box-title">Participantes sem Pontuação</h3>
					<div class="box-tools pull-right">
						<a href="/pontuacao/{{USER}}/{{match.id}}" class="btn btn-box-tool">Atualiza</a>
					</div>
				</div>
				<div class="box-body">
					<table class="table">
							<tr>
								<th><b>Nome</b></th>
								<th><b>Curso</b></th>
								<th><b>Pontuação</b></th>
							</tr>
							{%for participant in participants_without_matchScore%}
								<tr onmouseover="Select(this);" onmouseout ="Diselect(this)" onclick="Click(this, '/pontuacao/'+'{{USER}}'+'/'+'{{match.id}}'+'/'+'{{participant.id}}')">
									<td>{{participant.name}}</td>
									<td>{{participant.course}}</td>
									<td align="center">--</td>
								</tr>
							{%endfor%}				
					</table>
				</div>
			</div>
		</div>
	</div>
{%endblock content %}