{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-6">
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Informações</h3>
                    {% if USER == USER_MOR %}
                        <div class="box-tools pull-right">
                            <a href="/jogos/editar/{{ match.id }}" class="btn btn-box-tool">Editar</a>
                            <a class="btn btn-box-tool text-red"  data-toggle="modal" data-target="#dialog"
                               onclick="showDialog('Tem certeza que deseja excluir?', '/resultados/excluir/{{ match.id }}')">Excluir</a>
                        </div>
                    {% endif %}
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <td><b>Responsável</b></td>
                            <td>{{ match.responsible.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td><b>Torneio</b></td>
                            <td>{{ match.competition.tournament }}</td>
                        </tr>
                        <tr>
                            <td><b>Competição</b></td>
                            <td>{{ match.competition }}</td>
                        </tr>
                        <tr>
                            <td><b>Data</b></td>
                            <td>{{ match.date }}</td>
                        </tr>
                    </table>
                </div>
            </div>
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Equipes</h3>
                    <div class="box-tools pull-right">
                        {% if user.is_authenticated %}
                            <a href="/pontuacao/{{ match.id }}" class="btn btn-box-tool">Atualizar</a>
                        {% endif %}
                        {% if not match.intercampi and not user.is_authenticated %}
                            <a href="/jogos/participar/{{ match.id }}" class="btn btn-box-tool">Participar</a>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body">
                    <table class="table datatables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Integrantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in match.teams.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.strparticipants }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
		<div class="col-md-6">
			<div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Regras</h3>
                </div>
                <div class="box-body">
                    {{ match.competition.category.rules|linebreaks }}
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Classificação</h3>
                </div>

                <div class="box-body">
                    <table class = "table">
                                <tr>
                                    <th>Colocação</th>
                                    <th>Equipe</th>
                                    <th>Pontuação</th>
                                    <th>Tempo</th>
                                </tr>
                        {% for matchScore in matchScores%}
                                <tr>
                                    <td align="left">{{forloop.counter}}</td>
                                    <td align="left">{{ matchScore.team }} </td>
                                    <td align="center">{{ matchScore.score }}</td>
                                    <td align="center">{{ matchScore.time }}</td>
                                </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
		</div>
	</div>
{% endblock content %}
