{% extends "base.html" %}

{% block content %}
	    <div class="row">
	        <div class="col-md-8 col-md-offset-2">
	            <div class="box">
	                <div class="box-body">
	                    <table class="table">
	                        <tr>
	                            <th>Partida</th>
	                            <th>Competição</th>
	                            <th>Torneio</th>
	                            <th>Data</th>
	                        </tr>
	                        {% if not matchs%}
								<tr>
									<td>
										Não há nenhuma partida a ser concluída
									</td>
								</tr>
	                        {% endif %}
	                        {% for match in matchs %}
	                        	<tr>
	                        	    <td>
	                        	    		<a href="/resultados/{{ USER }}/novo/{{ match.id }}">{{ match }}</a>
	                        	    </td>
	                        	    <td>{{ match.competition }}</td>
	                        	    <td>{{ match.competition.tournament }}</td>
	                        	    <td>{{ match.date }}</td>
	                        	</tr>	
	                        {% endfor %}
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
{% endblock content %}