{% extends "base.html" %}

{% block content %}
	    <div class="row">
	        <div class="col-md-12">
	            <div class="box">
	            	<div class="box-header with-border">
	                	<h3 class="box-title">Partidas terminadas</h3>
	                </div>
	                <div class="box-body">
	                	{% if finished_matches|length %}
	                    <table class="table">
	                        <tr>
	                        	<th>#</th>
	                            <th>Partida</th>
	                            <th>Competição</th>
	                            <th>Torneio</th>
	                            <th>Data</th>
	                            <th>Responsável</th>
	                        </tr>
	                        {% for match in finished_matches %}
	                        	<tr>
	                        	    <td>{{ forloop.counter }}</td>
	                        	    <td><a href="/jogos/{{match.id}}" title="Detalhes da partida">{{ match }}</a></td>
	                        	    <td>{{ match.competition }}</td>
	                        	    <td>{{ match.competition.tournament }}</td>
	                        	    <td>{{ match.date }}</td>
	                        	    <td>{{ match.responsible.get_full_name }}</td>
	                        	</tr>	
	                        {% endfor %}
	                    </table>
	                    {% else %}
	                    Nenhuma partida terminada.
	                    {% endif %}
	                </div>
	            </div>
	        </div>
	        <div class="col-md-12">
	            <div class="box">
	            	<div class="box-header with-header">
	                	<h3 class="box-title">Partidas em andamento</h3>
	                </div>
	                <div class="box-body">
	                	{% if ongoing_matches|length %}
	                	<table class="table">
	                		<tr>
	                			<th>#</th>
	                			<th>Partida</th>
	                            <th>Competição</th>
	                            <th>Torneio</th>
	                            <th>Data</th>
	                			<th>Responsável</th>
	                		</tr>
                			{% for match in ongoing_matches %}
                				<input type="hidden" id="user" value="{{user.id}}">
								<tr>
									<td>{{forloop.counter}}</td>
									<td><a href="/jogos/{{match.id}}" title="Detalhes da partida">{{match}}</a></td>
									<td>{{ match.competition }}</td>
	                        	    <td>{{ match.competition.tournament }}</td>
	                        	    <td>{{ match.date }}</td>
	                        	    <td>{{ match.responsible.get_full_name }}</td>
								</tr>
                			{% endfor %}
	                	</table>
	                	{% else %}
	                	Nenhuma partida em andamento.
	                	{% endif %}
	                </div>
	            </div>
	        </div>
	    </div>
{% endblock content %}
