{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% include "message.html" %}
        <div class="box">
            <form role="form" action="{{ action }}" method="POST">
                <div class="box-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field == form.old_email or field == form.new_participant %}
                        {{ field.as_hidden }}
                    {% elif field not in form.hidden_fields %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            {{ field.label_tag }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                            {% if field.help_text %}
                                <span class="help-block">{{ field.help_text }}</span>
                            {% endif %}
                            {{ field }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
