{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="box box-default">
			    <div class="box-header with-border" style="text-align:center;">
			        <h3 class="box-title">Sobre o desenvolvimento do site do TICC:</h3>
			    </div>
			    <div class="box-body">
			        <p>Este site foi desenvolvido pelo grupo do Programa de Educação Tutorial do curso de Engenharia de Computação, CEFET-MG, denominado COMPET. É orientado pelo tutor Professor Sandro Renato Dias (Departamento de Computação, CEFET-MG) em parceria com as co-tutoras Professora Cristina Duarte Murta e Professora Anolan Yamilé Milanés Barrientos ambas do Departamento de Computação, CEFET-MG.</p>
			        <p>Os membros do COMPET atuaram efetivamente no desenvolvimento tanto front-end quanto back-end do site, contado com a experiência na área de web de alguns dos membros.</p>
			        <p>Para conhecer melhor nosso trabalho acesse o nosso site: <a href="http://compet.cefetmg.br">COMPET</a> e nossa página no facebook: <a href="https://www.facebook.com/competcefetmg/?fref=ts">Facebook COMPET</a></p>
			        <p>Obrigado!</p>
			    </div>
			</div>
		</div>
	</div>
{% endblock content %}