{% extends "base.html" %}

{% block content-title %}
	Torneios
{% endblock content-title %}

{% block breadcrumb %}
	{% include "breadcrumb.html" %}
{% endblock breadcrumb %}

{% block content %}
	    <div class="row">
	        <div class="col-md-6 col-md-offset-3">
	            <div class="box">
	                <div class="box-header">
	                    <div class="box-tools pull-right">
	                        <a href="/torneios/novo" class="btn btn-box-tool">Novo</a>
	                    </div>
	                </div>
	                <div class="box-body">
	                    <table class="table">
	                        <tr>
	                            <th>Ano</th>
	                            <th>Sede</th>
	                        </tr>
	                        {% if not torneios %}
	                        	<tr>
	                        		<td>
		                        		Nenhum torneio foi criado.
	                        		</td>
	                        		<td></td>
	                        	</tr>
	                        {% endif %}
	                        {% for torneio in torneios %}
	                        	<tr>
	                        	    <td>
	                        	    	<a href="/torneios/{{ torneio.id }}">{{ torneio }}</a>
	                        	    </td>
	                        	    <td>{{ torneio.sede }}</td>
	                        	</tr>	
	                        {% endfor %}
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
{% endblock content %}