{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {% include "message.html" %}
            <h3>Informações</h3>
            {% if request.user.is_authenticated %}
                <p><a class="crud-button" href="/torneios/editar/{{ tournament.id }}">EDITAR TORNEIO</a></p>
                <p><a class="crud-button" href="#" data-toggle="modal" data-target="#dialog" onclick="showDialog('Tem certeza que deseja excluir? Todos os jogos e competições relacionados a este torneio serão excluídos!', '/torneios/excluir/{{ tournament.id }}')">EXCLUIR TORNEIO</a></p>
            {% endif %}
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <p>SEDE</p>
                            <h4 title="{{ tournament.location }}">{{ tournament.location }}</h4>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <p>STATUS</p>
                            <h4>{{ tournament.verbose_status }}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <p>INÍCIO</p>
                            <h4>{{ tournament.start }}</h4>
                        </div>
                        <!--    <div class="icon">
                            <i class="fa fa-calendar"></i>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <p>TÉRMINO</p>
                            <h4>{{ tournament.end }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Competições</h3>
            {% if request.user.is_authenticated %}
                <p><a class="crud-button" href="/competicoes/novo/{{ tournament.id }}">ADICIONAR COMPETIÇÃO</a></p>
            {% endif %}
            {% for competition in tournament.competitions.all %}
                <div class="info-box">
                    <a href="/jogos/{{ competition.id }}">
                        <span class="info-box-icon bg-gray"><i class="fa fa-{{ competition.category.icon }}"></i></span>
                    </a>
                    <div class="info-box-content">
                        <span class="info-box-number">{{ competition }}</span>
                        <span class="info-box-text">{{ competition.matches.all|length }} partidas até o momento</span>
                        <a class="info-box-text" href="/competicoes/{{ competition.id }}">Ver</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}