{% extends "base.html" %}

{% block content %}
	    <div class="row">
	        <div class="col-md-6 col-md-offset-3">
	            <div class="box">
	                <div class="box-header">
	                {% if user.is_authenticated and user.groups.0.name == 'admin' %}
	                    <div class="box-tools pull-right">
	                        <a href="/torneios/novo" class="btn btn-box-tool">Novo</a>
	                    </div>
	                {% endif %}
	                </div>
	                <div class="box-body">
	                    <table class="table">
	                        <tr>
	                            <th>Ano</th>
	                            <th>Sede</th>
	                        </tr>
	                        {% if not tournaments %}
	                        	<tr>
	                        		<td>
		                        		Nenhum torneio foi criado.
	                        		</td>
	                        		<td></td>
	                        	</tr>
	                        {% endif %}
	                        {% for tournament in tournaments %}
	                        	<tr>
	                        	    <td>
	                        	    	<a href="/torneios/{{ tournament.id }}">{{ tournament }}</a>
	                        	    </td>
	                        	    <td>{{ tournament.location }}</td>
	                        	</tr>	
	                        {% endfor %}
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
{% endblock content %}