{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		    <div class="box">
		    	<form method="POST" action="/jogos/{{ match.id }}/pontuar">
		    		{% csrf_token %} 
			        <div class="box-header with-border">
			            <h3 class="box-title">Atualizar pontuação</h3>
			        </div>
			        <div class="box-body">
			            <table class="table datatable">
			                <thead>
			                    <tr>
			                        <th>#</th>
			                        <th>Nome</th>
			                        <th>Integrantes</th>
			                        {% if match.competition.category.need_time %}
                                    	<td>Tempo</td>
	                                {% endif %}
	                                {% if match.competition.category.need_score %}
	                                    <td>Pontuação</td>
	                                {% endif %}
			                    </tr>
			                </thead>
			                <tbody>
			                    {% for score in match.scores.all %}
					                <tr>
					                    <td>{{ forloop.counter }}</td>
					                    <td>{{ score.team.name }}</td>
					                    <td>{{ score.team.str_members }}</td>
							            {% if match.competition.category.need_time %}
		                                    <td><input type="text" name="time-{{ score.id }}" value="{{ score.time }}"></td>
		                                {% endif %}
		                                {% if match.competition.category.need_score %}
		                                    <td><input type="text" name="score-{{ score.id }}" value="{{ score.score }}"></td>
		                                {% endif %}
					                </tr>
					            {% endfor %}
			                </tbody>
			            </table>
			        </div>
			        <div class="box-footer">
			        	<a href="/jogos/{{ match.id }}" class="btn btn-default">Cancelar</a>
			            <button type="submit" class="btn btn-primary pull-right">Atualizar</button>
			        </div>
		    	</form>
		    </div>
		</div>		
	</div>
{% endblock content %}

{% block js %}
<script src="/static/dist/js/update-score.js"></script>
{% endblock %}
