{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		    <div class="box">
		    	<form method="POST" action="/pontuacao/{{ match.pk }}">
		    		{% csrf_token %} 
			        <div class="box-header with-border">
			            <h3 class="box-title">Atualizar pontuação</h3>
			        </div>
			        <div class="box-body">
			            <table class="table datatables">
			                <thead>
			                    <tr>
			                        <th>#</th>
			                        <th>Nome</th>
			                        <th>Pontuação</th>
			                        <th>Tempo</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    {% for pontuacao in match.pontuacao.all %}
					                <tr>
					                    <td>{{ forloop.counter }}</td>
					                    <td>{{ pontuacao.participante.nome }}</td>
					                    <td>
					                    	<input type="text" name="{{ pontuacao.pk }}" value="{{ pontuacao.pontos }}">
					                    </td>
					                    <td>
					                    	<input type="text" name="{{ pontuacao.pk }}" value="{{ pontuacao.tempo }}">
					                    </td>
					                </tr>
					            {% endfor %}
			                </tbody>
			            </table>
			        </div>
			        <div class="box-footer">
			        	<a href="/jogos/{{ match.pk }}" class="btn btn-default">Cancelar</a>
			            <button type="submit" class="btn btn-primary pull-right">Atualizar</button>
			        </div>
		    	</form>
		    </div>
		</div>		
	</div>
{% endblock content %}

